/* Header Image format */
#branding img {border-top: 4px solid #000; border-bottom 1px solid #000; border-top: 0; clear: both;display: block}
#header-image {width: 97%;}
#header.header {background-color: #ffffff;}

/* Header Don't Miss widget */
#header-widget-area h3 {background-color: #981b24; color: white; display: inline; padding: 2px 0 5px 0; margin-right: 5px;}
#header-widget-area p {background-color: black; color: white; display: inline; height:100%; width:100%;}
#header-widget-area { border-bottom: #981b24 solid 5px;}

/* Main Menu  (red-line bottom border)*/
#nav-primary.menu-primary .wvrx-menu-container {background-color: #000000; border-bottom: #981b24 solid 5px;}
#nav-primary.menu-primary .wvrx-menu-container li a {color: #ffffff;}

/* Left Sidebar for Home Page (Star Party )widget */
#wysiwyg_widgets_widget-32.widget {background: #478768; padding: 20px; width: 200px;margin-left:auto;margin-right:auto; margin-top: 10px; }
#wysiwyg_widgets_widget-32 h1 {font-size: 2em; color: white; line-height: 90%; font-weight: lighter;}
#wysiwyg_widgets_widget-32 h2 {font-size: 1em; color: white; margin-bottom: 10px; font-weight: lighter;}
#wysiwyg_widgets_widget-32 h3 {font-size: 1em; color: white; font-weight: lighter;}
#wysiwyg_widgets_widget-32 h4 {font-size: 2em; color: white; font-weight: lighter;}
#wysiwyg_widgets_widget-32 h5 {font-size: 1em; color: white; background: #91b7b8; border: 1px solid white; padding: 5px 5px 5px 5px; margin-top: 10px;}
#wysiwyg_widgets_widget-32 h5 a {color: white; text-decoration: none; font-weight: lighter;}
#wysiwyg_widgets_widget-32 div.widget-top {display: none;}
#wysiwyg_widgets_widget-32 div.divider {height: 1px; border-top: 1px solid white; margin: 5px 0 5px 0;}
#wysiwyg_widgets_widget-32 img.alignright {border: 0; margin: -8px 20px 0 0;}
#wysiwyg_widgets_widget-32 {margin-bottom: 15px}
#wysiwyg_widgets_widget-32 hr  {height: 1px; border-top: 1px solid white; margin: 5px 0 5px 0;}

/* Left Sidebar Home Page (Club Meeting) widget */
#wysiwyg_widgets_widget-33.widget { background: #dfcbab; padding: 20px; width: 200px; margin-left:auto;margin-right:auto;}
#wysiwyg_widgets_widget-33 h1 {  font-size: 2em; color: black; line-height: 50%; font-weight: lighter;}
#wysiwyg_widgets_widget-33 h2 {  font-size: 1em; color: black; margin-bottom: 10px; font-weight: lighter;}
#wysiwyg_widgets_widget-33 h3 {  font-size: 1em; color: black; font-weight: lighter;}
#wysiwyg_widgets_widget-33 h4 {  font-size: 2em; color: black; margin-top: 5px; font-weight: lighter;}
#wysiwyg_widgets_widget-33 h5 {  font-size: 1em; color: black; background: #ecdfce; padding: 5px 5px 5px 5px; margin-top: 10px; font-weight: lighter;}
#wysiwyg_widgets_widget-33 h5 a {color: black; text-decoration: none;}
#wysiwyg_widgets_widget-33 div.widget-top {display: none;}
#wysiwyg_widgets_widget-33 div.divider {height: 1px; border-top: 1px solid black; margin: 5px 0 5px 0;}
#wysiwyg_widgets_widget-33 img.alignright {border: 0; margin: -8px 20px 0 0;}
#wysiwyg_widgets_widget-33 {margin-bottom: 15px}

/* Left Sidebar Non Home Page Menu */
#primary-widget-area ul {list-style-type: none; border-left: gray solid 1px; margin-left: 0; background-color: #FFFFFF;}
#primary-widget-area li {margin-left: 10px;}
#primary-widget-area li a {font-size: 80%;}
#primary-widget-area h3 {font-size: 110%; margin-left: 11px;}

/* Right Sidebar Home Page */
/** add title font values **/
#secondary-widget-area {margin-top:  10px; }

/* Image of the Month text align */
#blog-top-widget-area.widget {width: 600px;}
#blog-top-widget-area img.alignleft {float: left;}  /* not needed */
#wysiwyg_widgets_widget-34 .widget-title {background-color: #981b24; color: white;  display: inline; padding: 3px; }

/* Blog Post NEWS header */
div.wvrx-posts {border-top: #981b24 solid 3px; margin: 0; padding-top: 0;}
div.wvrx-posts:before {content: "NEWS"; color: white; background: #981b24; font-weight: bold; font-size: 1.2em; width:  60px; text-indent: 5px; display: block; margin-bottom: 1em; padding: 2px;}

/* Blog Posts*/
div.wvrx-posts article.type-post {padding: 0; margin: 0;}
div.wvrx-posts article.type-page p {margin-bottom: 1.2em;}
div.wvrx-posts article.type-post,
div.wvrx-posts article.type-post header,
div.wvrx-posts article.type-post div,
div.wvrx-posts article.type-post h2,
div.wvrx-posts article.type-post .entry-summary p {display: inline; padding: 0; margin: 0;}
div.wvrx-posts article.type-post div.entry-meta {display: none;}
div.wvrx-posts article.type-post h2 a {color: blue;  font-size: 100%;padding-right: 0; }
div.wvrx-posts footer.leave-reply {display: none;}
div.wvrx-posts .sticky.post { border-style: hidden;}

/* footer widget area */
#footer-widget-area h3 {background: none; color: white; text-align: left; font-weight: lighter; border-bottom: 3px #666666 solid; text-transform: uppercase;  font-size: 1.2em;}
#footer-widget-area a:link {text-decoration: none; }
#footer-widget-area ul {list-style-type: none; margin-left: 0;}
#footer-widget-area li {color: #c6c6c6;}
#footer-widget-area li a {color: #fafafa;}
#footer-widget-area.widget_twitter ul li {margin-bottom:10px;}
#footer-widget-area.widget_twitter a {color: lightblue;}
#footer-widget-area.widget_twitter a.twitter-hashtag {color: lightgreen;}
#post-203 li {
display: inline-block;}